/*Yhteystietojen css*/
#contactInfo, #contactForm{
    height: 350px;
    width: 350px;
    border: 1px black solid;
    margin-top: 1rem;
    background-color: #D69C2F;
}
#contactLocation {
    height: 350px;
    width: 350px;
    margin-top: 1rem;
}
#welcomeMessage {
    height: 300px;
    width: 100%;
    background-color: lightblue;
    margin-bottom: 50px;
    padding-top: 100px; 
}
#welcomeMessage h1 {
    font-size: 24px;
}
#contactInfo h2, #contactForm h2{
    font-size: 16px;
}
#contactInfo h3, #contactForm h3 {
    font-size: 14px;
}
#contactContainer, .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}